body {
    background-color: #f2f4f7;

}

:root {
    --blue: #0866ff;
    --border-color: #dddfe2;
    --green: #42b72a
}



.homePage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.homePage h1 {
    font-size: 72px;
    color: var(--blue);
}

.homePage h3 {
    width: 500px;
}

.login {
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px #0000001a, 0 8px 16px #0000001a;
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px;
    width: 450px;
    height: 320px;
}

.form-inputs input {
    margin-bottom: 10px;
    font-size: 22px;
    padding: 7px 18px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: 100%;
}

.form-login button {
    margin-bottom: 10px;
    font-size: 22px;
    padding: 7px 18px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    color: white;
    width: 100%;
    background-color: var(--blue);
}

.btn-create {
    display: flex;
    justify-self: center;
}

.btn-create button {
    background-color: var(--green);
    margin-bottom: 10px;
    font-size: 20px;
    padding: 10px 18px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    color: white;
    width: 100%;
    margin-top: 20px;
}

.login-box {
    width: 300px;
    margin: 100px auto;
    text-align: center;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-btn {
    background: #1877f2;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 5px;
    margin-top: 8px;
}

.create-btn {
    background: #42b72a;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    text-align: center;
}

.modal-content input {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.signup-btn {
    background: #42b72a;
    color: white;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
}

.close {
    display: flex;
    justify-content: end;
    font-size: 27px;
    cursor: pointer;
}

@media (max-width:1169px) {
    .homePage{
        flex-direction: column;
        gap: 50px;
        text-align: center;
    }
}
@media (max-width:516px) {
    .homePage h1{
       font-size: 51px;
       
    }
    .homePage h3{
        font-size: 28px;
        width: 100%;
    }
    .login{
        width: 100%;
    }
}